<div class="box ">
	<div class="box-heading"><?php echo $heading_title; ?></div>
	<div class="box-content box-category">
		 <?php echo $tree;?>
	</div>
 </div>
<script>        
    $('.box-category li').bind().click(function(e) {
	$(this).toggleClass("open").find('>ul').stop(true, true).slideToggle(500)
    .end().siblings().find('>ul').slideUp().parent().removeClass("open");
	e.stopPropagation();
	});
	$('.box-category li a').click(function(e) {
	e.stopPropagation();
	});
</script>