/*-----------------------------------------------------------------------------

	-	Revolution Slider 1.5.3 -

		Screen Stylesheet

version:   	2.1
date:      	09/18/11
last update: 06.12.2012
author:		themepunch
email:     	info@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------

	-	Revolution Slider 2.0 Captions -

		Screen Stylesheet

version:   	1.4.5
date:      	09/18/11
last update: 06.12.2012
author:		themepunch
email:     	info@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/

	.layerslider-wrapper{
		margin: 0 auto;
		position: relative;
	}
	.rev_slider{
		position: relative;
		overflow: hidden;
		height:300px; 
		width:940px; 
	}
	.bannercontainer {
		position: relative;margin: 0px auto;
		overflow:hidden;
	
	}
	.bannercontainer .banner-fullwidth{
		  width: 100% !important;
		  max-height: 500px !important;
	}
	.bannercontainer .fullwidthbanner{
	  	max-height: 500px !important;
	    overflow: hidden!important;
	    padding: 0;
	    position: relative;
	}
	.bannercontainer.banner-fullwidth{
		width: 100% !important;
	}
/*************************
	-	CAPTIONS	-
**************************/

.tp-hide-revslider,.tp-caption.tp-hidden-caption	{	visibility:hidden !important; display:none !important;}

.tp-caption { z-index:1;}
.tp-caption.contrast_font_heading {
			font-size:60px;
			color:#ffffff;
			line-height:56px;
		}
.tp-caption.contrast_font_heading_dark {
			font-size:60px;
			color:#222222;
			line-height:56px;
		}
.tp-caption.contrast_font_heading_primary {
			font-size:60px;
			color:#d6a916;
			line-height:56px;
		}	
.tp-caption.contrast_font_heading_secondary {
			font-size:60px;
			line-height:56px;
			color:#276658;
		}	
		
.tp-caption.contrast_font_heading2 {
			font-size:48px;
			color:#ffffff;
			line-height:56px;
		}
.tp-caption.contrast_font_heading2_dark {
			font-size:48px;
			color:#222222;
			line-height:56px;
		}		
.tp-caption.contrast_font_heading2_primary {
			font-size:48px;
			color:#d6a916;
			line-height:56px;
		}		
.tp-caption.contrast_font_heading2_secondary {
			font-size:48px;
			line-height:56px;
			color:#276658;
		}
				
.tp-caption.contrast_font_sub_heading {
			font-size:30px;
			color:#ffffff;
			line-height:56px;
		}
.tp-caption.contrast_font_sub_heading_dark {
			font-size:30px;
			color:#222222;
			line-height:56px;
		}
.tp-caption.contrast_font_sub_heading_primary {
			font-size:30px;
			color:#d6a916;
			line-height:56px;
		}
.tp-caption.contrast_font_sub_heading_secondary {
			font-size:30px;
			line-height:56px;
			color:#276658;
		}
.tp-caption.contrast_font {
			font-size:17px;
			color:#ffffff;
}
.tp-caption.contrast_font_dark {
			font-size:17px;
			color:#222222;
}
.tp-caption.contrast_font_primary {
			font-size:17px;
			color:#d6a916;
}
.tp-caption.contrast_font_secondary {
			font-size:17px;
			color:#276658;
}		


	
.tp-caption.contrast_font_slider_button {
			color:#ffffff;
			border:2px solid;
			border-color:transparent;
			border-top-color:#ffffff;
			display:inline-block;
			padding:12px 25px;
			transition:border-color 400ms;
		}
.tp-caption.contrast_font_slider_button a {
			color:#ffffff;
			display:block;
			font-size:18px;
			line-height:26px;
		}
.tp-caption.contrast_font_slider_button:hover {
			border-color:#ffffff;
			transition:border-color 400ms;
		}

.tp-caption.contrast_font_slider_button_dark {
			color:#222222;
			border:2px solid;
			border-color:transparent;
			border-top-color:#222222;
			display:inline-block;
			padding:12px 25px;
			transition:border-color 400ms;
		}
.tp-caption.contrast_font_slider_button_dark a {
			color:#222222;
			display:block;
			font-size:18px;
			line-height:26px;
		}
.tp-caption.contrast_font_slider_button_dark:hover {
			border-color:#222222;
			transition:border-color 400ms;
		}		

.tp-caption.contrast_font_slider_button_primary {
			color:#d6a916;
			border:2px solid;
			border-color:transparent;
			border-top-color:#d6a916;
			display:inline-block;
			padding:12px 25px;
			transition:border-color 400ms;
		}
.tp-caption.contrast_font_slider_button_primary a {
			color:#d6a916;
			display:block;
			font-size:18px;
			line-height:26px;
		}
.tp-caption.contrast_font_slider_button_primary:hover {
			border-color:#d6a916;
			transition:border-color 400ms;
		}
		
.tp-caption.contrast_font_slider_button_secondary {
			color:#276658;
			border:2px solid;
			border-color:transparent;
			border-top-color:#276658;
			display:inline-block;
			padding:12px 25px;
			transition:border-color 400ms;
		}
.tp-caption.contrast_font_slider_button_secondary a {
			color:#276658;
			display:block;
			font-size:18px;
			line-height:26px;
		}
.tp-caption.contrast_font_slider_button_secondary:hover {
			border-color:#276658;
			transition:border-color 400ms;
		}
		
		


.tp-caption.main_font_heading {
			font-size:60px;
			color:#ffffff;
			line-height:56px;
		}
.tp-caption.main_font_heading_dark {
			font-size:60px;
			color:#222222;
			line-height:56px;
		}
.tp-caption.main_font_heading_primary {
			font-size:60px;
			color:#d6a916;
			line-height:56px;
		}	
.tp-caption.main_font_heading_secondary {
			font-size:60px;
			line-height:56px;
			color:#276658;
		}	
		
.tp-caption.main_font_heading2 {
			font-size:48px;
			color:#ffffff;
			line-height:56px;
		}
.tp-caption.main_font_heading2_dark {
			font-size:48px;
			color:#222222;
			line-height:56px;
		}		
.tp-caption.main_font_heading2_primary {
			font-size:48px;
			color:#d6a916;
			line-height:56px;
		}		
.tp-caption.main_font_heading2_secondary {
			font-size:48px;
			line-height:56px;
			color:#276658;
		}
				
.tp-caption.main_font_sub_heading {
			font-size:30px;
			color:#ffffff;
			line-height:56px;
		}
.tp-caption.main_font_sub_heading_dark {
			font-size:30px;
			color:#222222;
			line-height:56px;
		}
.tp-caption.main_font_sub_heading_primary {
			font-size:30px;
			color:#d6a916;
			line-height:56px;
		}
.tp-caption.main_font_sub_heading_secondary {
			font-size:30px;
			line-height:56px;
			color:#276658;
		}
.tp-caption.main_font {
			font-size:17px;
			color:#ffffff;
}
.tp-caption.main_font_dark {
			font-size:17px;
			color:#222222;
}
.tp-caption.main_font_primary {
			font-size:17px;
			color:#d6a916;
}
.tp-caption.main_font_secondary {
			font-size:17px;
			color:#276658;
}		


	
.tp-caption.main_font_slider_button {
			color:#ffffff;
			border:2px solid;
			border-color:transparent;
			border-top-color:#ffffff;
			display:inline-block;
			padding:12px 25px;
			transition:border-color 400ms;
		}
.tp-caption.main_font_slider_button a {
			color:#ffffff;
			display:block;
			font-size:18px;
			line-height:26px;
		}
.tp-caption.main_font_slider_button:hover {
			border-color:#ffffff;
			transition:border-color 400ms;
		}

.tp-caption.main_font_slider_button_dark {
			color:#222222;
			border:2px solid;
			border-color:transparent;
			border-top-color:#222222;
			display:inline-block;
			padding:12px 25px;
			transition:border-color 400ms;
		}
.tp-caption.main_font_slider_button_dark a {
			color:#222222;
			display:block;
			font-size:18px;
			line-height:26px;
		}
.tp-caption.main_font_slider_button_dark:hover {
			border-color:#222222;
			transition:border-color 400ms;
		}		

.tp-caption.main_font_slider_button_primary {
			color:#d6a916;
			border:2px solid;
			border-color:transparent;
			border-top-color:#d6a916;
			display:inline-block;
			padding:12px 25px;
			transition:border-color 400ms;
		}
.tp-caption.main_font_slider_button_primary a {
			color:#d6a916;
			display:block;
			font-size:18px;
			line-height:26px;
		}
.tp-caption.main_font_slider_button_primary:hover {
			border-color:#d6a916;
			transition:border-color 400ms;
		}
		
.tp-caption.main_font_slider_button_secondary {
			color:#276658;
			border:2px solid;
			border-color:transparent;
			border-top-color:#276658;
			display:inline-block;
			padding:12px 25px;
			transition:border-color 400ms;
		}
.tp-caption.main_font_slider_button_secondary a {
			color:#276658;
			display:block;
			font-size:18px;
			line-height:26px;
		}
.tp-caption.main_font_slider_button_secondary:hover {
			border-color:#276658;
			transition:border-color 400ms;
		}
		
		

.tp_inner_padding	{	box-sizing:border-box;
						-webkit-box-sizing:border-box;
						-moz-box-sizing:border-box;
						max-height:none !important;	}

/******************************
	-	BUTTONS	-
*******************************/

.tp-button				{	padding:6px 13px 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; height:30px;
						cursor:pointer;
						color:#fff !important; text-shadow:0px 1px 1px rgba(0, 0, 0, 0.6) !important; font-size:15px; line-height:45px !important;
						background:url(../images/gradient/g30.png) repeat-x top; font-family: arial, sans-serif; font-weight: bold; letter-spacing: -1px;
					}

.button.big			{	color:#fff; text-shadow:0px 1px 1px rgba(0, 0, 0, 0.6); font-weight:bold; padding:9px 20px; font-size:19px;  line-height:57px !important; background:url(../images/gradient/g40.png) repeat-x top;}


.purchase:hover,
.button:hover,
.button.big:hover		{	background-position:bottom, 15px 11px;}



	@media only screen and (min-width: 768px) and (max-width: 959px) {

	 }



	

    @media only screen and (min-width: 0px) and (max-width: 679px) {

.slider_button, 
.main_font_slider_button, 
.main_font_slider_button_dark, 
.main_font_slider_button_primary, 
.main_font_slider_button_secondary, 
.contrast_font_slider_button, 
.contrast_font_slider_button_dark, 
.contrast_font_slider_button_primary, 
.contrast_font_slider_button_secondary {	
padding:2px 5px 2px; line-height:20px !important;
}
.slider_button a, 
.slider_button a, 
.main_font_slider_button a, 
.main_font_slider_button_dark a, 
.main_font_slider_button_primary a, 
.main_font_slider_button_secondary a, 
.contrast_font_slider_button a, 
.contrast_font_slider_button_dark a, 
.contrast_font_slider_button_primary a, 
.contrast_font_slider_button_secondary { -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none; font-size:10px !important;	 }
	}





/*	BUTTON COLORS	*/



.button.green, .button:hover.green,
.purchase.green, .purchase:hover.green			{ background-color:#21a117; -webkit-box-shadow:  0px 3px 0px 0px #104d0b;        -moz-box-shadow:   0px 3px 0px 0px #104d0b;        box-shadow:   0px 3px 0px 0px #104d0b;  }


.button.blue, .button:hover.blue,
.purchase.blue, .purchase:hover.blue			{ background-color:#1d78cb; -webkit-box-shadow:  0px 3px 0px 0px #0f3e68;        -moz-box-shadow:   0px 3px 0px 0px #0f3e68;        box-shadow:   0px 3px 0px 0px #0f3e68;}


.button.red, .button:hover.red,
.purchase.red, .purchase:hover.red				{ background-color:#cb1d1d; -webkit-box-shadow:  0px 3px 0px 0px #7c1212;        -moz-box-shadow:   0px 3px 0px 0px #7c1212;        box-shadow:   0px 3px 0px 0px #7c1212;}

.button.orange, .button:hover.orange,
.purchase.orange, .purchase:hover.orange		{ background-color:#ff7700; -webkit-box-shadow:  0px 3px 0px 0px #a34c00;        -moz-box-shadow:   0px 3px 0px 0px #a34c00;        box-shadow:   0px 3px 0px 0px #a34c00;}

.button.darkgrey,.button.grey,
.button:hover.darkgrey,.button:hover.grey,
.purchase.darkgrey, .purchase:hover.darkgrey	{ background-color:#555; -webkit-box-shadow:  0px 3px 0px 0px #222;        -moz-box-shadow:   0px 3px 0px 0px #222;        box-shadow:   0px 3px 0px 0px #222;}

.button.lightgrey, .button:hover.lightgrey,
.purchase.lightgrey, .purchase:hover.lightgrey	{ background-color:#888; -webkit-box-shadow:  0px 3px 0px 0px #555;        -moz-box-shadow:   0px 3px 0px 0px #555;        box-shadow:   0px 3px 0px 0px #555;}



/****************************************************************

	-	SET THE ANIMATION EVEN MORE SMOOTHER ON ANDROID   -

******************************************************************/

.tp-simpleresponsive .slotholder *,
.tp-simpleresponsive img			{ -webkit-transform: translateZ(0);
										  -webkit-backface-visibility: hidden;
										  -webkit-perspective: 1000;
									}


/************************************************
	  - SOME CAPTION MODIFICATION AT START  -
*************************************************/
.tp-simpleresponsive .caption,
.tp-simpleresponsive .tp-caption {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";	-moz-opacity: 0;	-khtml-opacity: 0;	opacity: 0; position:absolute; visibility: hidden;

}

.tp-simpleresponsive img	{	max-width:none;}



/******************************
	-	IE8 HACKS	-
*******************************/
.noFilterClass {
	filter:none !important;
}


/******************************
	-	SHADOWS		-
******************************/
.tp-bannershadow  {
		position:absolute;

		margin-left:auto;
		margin-right:auto;
		-moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
	}

.tp-bannershadow.tp-shadow1 {	background:url(../assets/shadow1.png) no-repeat; background-size:100%; width:890px; height:30px; bottom:-30px;}
.tp-bannershadow.tp-shadow2 {	background:url(../assets/shadow2.png) no-repeat; background-size:100%; width:890px; height:60px;bottom:-60px;}
.tp-bannershadow.tp-shadow3 {	background:url(../assets/shadow3.png) no-repeat; background-size:100%; width:890px; height:60px;bottom:-60px;}


/********************************
	-	FULLSCREEN VIDEO	-
*********************************/
.caption.fullscreenvideo {	left:0px; top:0px; position:absolute;width:100%;height:100%;}
.caption.fullscreenvideo iframe	{ width:100% !important; height:100% !important;}

.tp-caption.fullscreenvideo {	left:0px; top:0px; position:absolute;width:100%;height:100%;}
.tp-caption.fullscreenvideo iframe	{ width:100% !important; height:100% !important;}

/************************
	-	NAVIGATION	-
*************************/

/** BULLETS **/

.tpclear		{	clear:both;}


.tp-bullets								{	z-index:25; position:absolute;
												-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
												-moz-opacity: 1;
												-khtml-opacity: 1;
												opacity: 1;
												-webkit-transition: opacity 0.2s ease-out; -moz-transition: opacity 0.2s ease-out; -o-transition: opacity 0.2s ease-out; -ms-transition: opacity 0.2s ease-out;
											}
.tp-bullets.hidebullets					{
												-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
												-moz-opacity: 0;
												-khtml-opacity: 0;
												opacity: 0;
											}


.tp-bullets.simplebullets.navbar						{ 	border:1px solid #666; border-bottom:1px solid #444; background:url(../assets/boxed_bgtile.png); height:40px; padding:0px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px ;}

.tp-bullets.simplebullets.navbar-old					{ 	 background:url(../assets/navigdots_bgtile.png); height:35px; padding:0px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px ;}


.tp-bullets.simplebullets.round .bullet					{	cursor:pointer; position:relative;	background:url(../assets/bullet.png) no-Repeat top left;	width:20px;	height:20px;  margin-right:0px; float:left; margin-top:-10px; margin-left:3px;}
.tp-bullets.simplebullets.round .bullet.last			{	margin-right:3px;}

.tp-bullets.simplebullets.round-old .bullet				{	cursor:pointer; position:relative;	background:url(../assets/bullets.png) no-Repeat bottom left;	width:23px;	height:23px;  margin-right:0px; float:left; margin-top:-12px;}
.tp-bullets.simplebullets.round-old .bullet.last		{	margin-right:0px;}


/**	SQUARE BULLETS **/
.tp-bullets.simplebullets.square .bullet				{	cursor:pointer; position:relative;	background:url(../assets/bullets2.png) no-Repeat bottom left;	width:19px;	height:19px;  margin-right:0px; float:left; margin-top:-10px;}
.tp-bullets.simplebullets.square .bullet.last			{	margin-right:0px;}


/**	SQUARE BULLETS **/
.tp-bullets.simplebullets.square-old .bullet			{	cursor:pointer; position:relative; border:1px solid #ffffff; width:10px;	height:10px;  margin-right:5px; float:left;}
.tp-bullets.simplebullets.square-old .bullet.selected			{	background:#ffffff;}
.tp-bullets.simplebullets.square-old .bullet.last		{	margin-right:0px;}


/** navbar NAVIGATION VERSION **/
.tp-bullets.simplebullets.navbar .bullet			{	cursor:pointer; position:relative;	background:url(../assets/bullet_boxed.png) no-Repeat top left;	width:18px;	height:19px;   margin-right:5px; float:left; margin-top:10px;}

.tp-bullets.simplebullets.navbar .bullet.first		{	margin-left:0px !important;}
.tp-bullets.simplebullets.navbar .bullet.last		{	margin-right:0px !important;}



/** navbar NAVIGATION VERSION **/
.tp-bullets.simplebullets.navbar-old .bullet			{	cursor:pointer; position:relative;	background:url(../assets/navigdots.png) no-Repeat bottom left;	width:15px;	height:15px;  margin-left:5px !important; margin-right:5px !important;float:left; margin-top:10px;}
.tp-bullets.simplebullets.navbar-old .bullet.first		{	margin-left:0px !important;}
.tp-bullets.simplebullets.navbar-old .bullet.last		{	margin-right:0px !important;}


.tp-bullets.simplebullets .bullet:hover,
.tp-bullets.simplebullets .bullet.selected				{	background-position:top left; }

.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.navbar .bullet:hover,
.tp-bullets.simplebullets.navbar .bullet.selected		{	background-position:bottom left; }



/*************************************
	-	TP ARROWS 	-
**************************************/
.tparrows												{	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
															-moz-opacity: 1;
															-khtml-opacity: 1;
															opacity: 1;
															-webkit-transition: opacity 0.2s ease-out; -moz-transition: opacity 0.2s ease-out; -o-transition: opacity 0.2s ease-out; -ms-transition: opacity 0.2s ease-out;

														}
.tparrows.hidearrows									{
															-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
															-moz-opacity: 0;
															-khtml-opacity: 0;
															opacity: 0;
														}
.tp-leftarrow											{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/large_left.png) no-Repeat top left;	width:40px;	height:40px;   }
.tp-rightarrow											{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/large_right.png) no-Repeat top left;	width:40px;	height:40px;   }


.tp-leftarrow.round										{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/small_left.png) no-Repeat top left;	width:19px;	height:14px;  margin-right:0px; float:left; margin-top:-7px;	}
.tp-rightarrow.round									{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/small_right.png) no-Repeat top left;	width:19px;	height:14px;  margin-right:0px; float:left;	margin-top:-7px;}


.tp-leftarrow.round-old									{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/arrow_left.png) no-Repeat top left;	width:26px;	height:26px;  margin-right:0px; float:left; margin-top:-13px;	}
.tp-rightarrow.round-old								{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/arrow_right.png) no-Repeat top left;	width:26px;	height:26px;  margin-right:0px; float:left;	margin-top:-13px;}


.tp-leftarrow.navbar									{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/small_left_boxed.png) no-Repeat top left;	width:20px;	height:15px;   float:left;	margin-right:6px; margin-top:12px;}
.tp-rightarrow.navbar									{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/small_right_boxed.png) no-Repeat top left;	width:20px;	height:15px;   float:left;	margin-left:6px; margin-top:12px;}


.tp-leftarrow.navbar-old								{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/arrowleft.png) no-Repeat top left;		width:9px;	height:16px;   float:left;	margin-right:6px; margin-top:10px;}
.tp-rightarrow.navbar-old								{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/arrowright.png) no-Repeat top left;	width:9px;	height:16px;   float:left;	margin-left:6px; margin-top:10px;}

.tp-leftarrow.navbar-old.thumbswitharrow				{	margin-right:10px; }
.tp-rightarrow.navbar-old.thumbswitharrow				{	margin-left:0px; }

.tp-leftarrow.square									{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/arrow_left2.png) no-Repeat top left;	width:12px;	height:17px;   float:left;	margin-right:0px; margin-top:-9px;}
.tp-rightarrow.square									{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/arrow_right2.png) no-Repeat top left;	width:12px;	height:17px;   float:left;	margin-left:0px; margin-top:-9px;}


.tp-leftarrow.square-old								{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/arrow_left2.png) no-Repeat top left;	width:12px;	height:17px;   float:left;	margin-right:0px; margin-top:-9px;}
.tp-rightarrow.square-old								{	z-index:100;cursor:pointer; position:relative;	background:url(../assets/arrow_right2.png) no-Repeat top left;	width:12px;	height:17px;   float:left;	margin-left:0px; margin-top:-9px;}



.tp-leftarrow.default									{	
background:transparent;
}
.tp-leftarrow.default:after {
	content:"\f104";
	font-family:fontAwesome;
	z-index:20;cursor:pointer; position:relative;	height:60px;
	width:60px;
	line-height:56px;
	color:#ffffff;
	margin-top:-20px;
	margin-left:10px;
	font-size:36px;
	transition: border-color 300ms;
	display:block;
	text-align:center;
	border:1px solid;
	border-color:transparent;
}
.tp-leftarrow.default:hover:after {
	border-color:#ffffff;
	transition: border-color 300ms;
}
.tp-rightarrow.default									{	
background:transparent;
}
.tp-rightarrow.default:before {
	content:"\f105";
	font-family:fontAwesome;
	z-index:20;cursor:pointer; position:relative;	height:60px;
	width:60px;
	margin-left:-30px;
	margin-top:-20px;
	line-height:56px;
	color:#ffffff;
	font-size:36px;
	transition: border-color 300ms;
	display:block;
	text-align:center;
	border:1px solid;
	border-color:transparent;
}
.tp-rightarrow.default:hover:before {
	border-color:#ffffff;
	transition: border-color 300ms;
}

/****************************************************************************************************
	-	TP THUMBS 	-
*****************************************************************************************************

 - tp-thumbs & tp-mask Width is the width of the basic Thumb Container (500px basic settings)

 - .bullet width & height is the dimension of a simple Thumbnail (basic 100px x 50px)

 *****************************************************************************************************/


.tp-bullets.tp-thumbs						{	z-index:1000; position:absolute; padding:3px;background-color:#fff;
												width:500px;height:50px; 			/* THE DIMENSIONS OF THE THUMB CONTAINER */
												margin-top:-50px;
											}


.fullwidthbanner-container .tp-thumbs		{  padding:3px;}

.tp-bullets.tp-thumbs .tp-mask				{	width:500px; height:50px;  			/* THE DIMENSIONS OF THE THUMB CONTAINER */
												overflow:hidden; position:relative;}


.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer	{	width:5000px; position:absolute;}

.tp-bullets.tp-thumbs .bullet				{   width:100px; height:50px; 			/* THE DIMENSION OF A SINGLE THUMB */
												cursor:pointer; overflow:hidden;background:none;margin:0;float:left;
												-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
												/*filter: alpha(opacity=50);	*/
												-moz-opacity: 0.5;
												-khtml-opacity: 0.5;
												opacity: 0.5;

												-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out;
											}


.tp-bullets.tp-thumbs .bullet:hover,
.tp-bullets.tp-thumbs .bullet.selected		{ 	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

												-moz-opacity: 1;
												-khtml-opacity: 1;
												opacity: 1;
											}
.tp-thumbs img								{	width:100%; }


/************************************
		-	TP BANNER TIMER		-
*************************************/
.tp-bannertimer								{	width:100%; height:10px; background:url(../assets/timer.png);position:absolute; z-index:200;}
.tp-bannertimer.tp-bottom					{	bottom:0px !important;height:5px;}




/***************************************
	-	RESPONSIVE SETTINGS 	-
****************************************/


	@media only screen and (min-width: 768px) and (max-width: 959px) {

	 }



	@media only screen and (min-width: 480px) and (max-width: 767px) {
			.responsive .tp-bullets.tp-thumbs				{	width:300px !important; height:30px !important;}
			.responsive .tp-bullets.tp-thumbs .tp-mask		{	width:300px !important; height:30px !important;}
			.responsive .tp-bullets.tp-thumbs .bullet		{	width:60px !important;height:30px !important;}

	}

    @media only screen and (min-width: 0px) and (max-width: 479px) {
				.responsive .tp-bullets	{	display:none}
				.responsive .tparrows	{	display:none;}
	}





/*********************************************

	-	BASIC SETTINGS FOR THE BANNER	-

***********************************************/

 .tp-simpleresponsive img {
		-moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}



.tp-simpleresponsive a{	text-decoration:none;}

.tp-simpleresponsive ul {
	list-style:none;
	padding:0;
	margin:0;
}

.tp-simpleresponsive >ul >li{
	list-stye:none;
	position:absolute;
	visibility:hidden;
}
/*  CAPTION SLIDELINK   **/
.caption.slidelink a div,
.tp-caption.slidelink a div {	width:10000px; height:10000px;  background:url(../assets/coloredbg.png) repeat;}

.tp-loader 	{	background:url(../assets/loader.gif) no-repeat 10px 10px; background-color:#fff;  margin:-22px -22px; top:50%; left:50%; z-index:10000; position:absolute;width:44px;height:44px;
				border-radius: 3px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
			}


.tp-transparentimg {	content:"url(../assets/transparent.png)"}
.tp-3d				{	-webkit-transform-style: preserve-3d;
						 -webkit-transform-origin: 50% 50%;
					}

