#header {
position: relative;
}
#ajax_search_results {
	margin:0px;
	padding:5px;
	position: absolute;
	list-style-type: none;
	z-index:1005;
	width:90%;
	background-color: #ffffff;
	border-top: none;
	color: #555;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#ajax_search_results tr {
	height: 50px;
	position:relative;
	z-index:1005;
}
#ajax_search_results a, #ajax_search_results a:visited {
	color: #555;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5px;
	display:block;
}
#ajax_search_results a {
	position:relative;
	z-index:1005;
	
}
#ajax_search_results a:hover {
	color: #00556D;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5px;
	display:block;
	text-decoration: underline;
}
#ajax_search_results .selected {
	color: #AF2645;
	text-decoration: underline;
	background-color: #ebebeb;
}
#ajax_search_results tr:hover {
	color: #f00;
}
#ajax_search_results tr a img{
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	width: 40px;
}  
#ajax_search_results tr td a .price{
	/*float: right;
	margin-top: 9px;*/
	color: #00556D;
	margin-right: 10px;
	margin-top:0px;
	margin-bottom:0px;
	white-space:nowrap;
}
#ajax_search_results tr td a .special{
	/*float: right;
	margin-top: 9px;*/
	color:  #C00;
	margin-right: 10px;
	margin-top:0px;
	margin-bottom:0px;
	white-space:nowrap;
}
#ajax_search_results tr td a .old-price{
	/*float: right;
	margin-top: 9px;*/
	color: #00556D;
	font-size:11px;
	text-decoration:line-through;
	margin-right: 5px;
	margin-top:0px;
	margin-bottom:0px;
	white-space:nowrap;
	}
#header {
	z-index:1005}