.quickcheckoutleft {
	width: 66%;
	float:left;
	text-align:left;
}
.quickcheckoutright {
	width: 32%;
	margin-left: 10px;
	float: left;
	text-align: left;
}
.quickcheckoutmid {
	width: 100%;
	text-align: left;
}