.quickcheckoutleft {
	width: 32%;
	float:left;
	text-align:left;
}
.quickcheckoutright {
	width: 30%;
	float: left;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
}
.quickcheckoutmid {
	width: 100%;
	text-align: left;
}
.extra-width {
	width: 35%;
}
.quickcheckout-content .left {
	width: 100%;
	margin-bottom: 5px;
}
.quickcheckout-content .large-field{
	width:93%;
}
#cart1 {
	padding-top: 30px;
}
table.quickcheckout-cart {
	overflow: auto;
}
.quickcheckout-cart td.image img {
	width: 30px;
	height: auto;
}