.quickcheckoutleft {
	width: 100%;
	text-align:left;
}
.quickcheckoutright {
	width: 100%;
	text-align: left;
}
.quickcheckoutmid {
	width: 100%;
	text-align: left;
}
.quickcheckout-content .left {
	width: 100%;
	margin-bottom: 5px;
}
#cart1 {
	padding-top: 0px;
}
table.quickcheckout-cart {
	overflow: auto;
}
.quickcheckout-cart td.image img {
	width: 30px;
	height: auto;
}