.pav-header  { position:relative  }
.pav-header .rss-wrapper{
	width:30px;	height:30px;	display:block; position:absolute;right:0; top:0; background:url(../image/icon-rss.png) no-repeat center center;
	overflow:hidden; text-indent:-999em;
}

.blog-meta {
	margin: 5px 0 13px 0;
	overflow: hidden;
}
.blog-meta > span  { 
	margin-right:7px;
	color:#222222;
	display: block;
	float: left;
	font-size: 90%;
}
.blog-meta > span:after  { 
	content:",";
}
.blog-meta > span:last-child:after  { 
	content: normal;
}
.blog-meta > span  span{ 
	color:#8c8c8c; 
}

/**
 * Category Page/Lastest module
 */
.items_wrapper {
	margin-left:-15px;
	margin-right:-15px;
	font-size:0;
}
.items_wrapper.owl-carousel {
	width:auto;
}

.blog-item {
	display:inline-block;
	vertical-align:top;
	font-size:14px;
	position:relative;
	padding:10px 15px;
	padding-left:15px;
	padding-right:15px;
	margin-bottom:25px;
	color:#595959;
}
.blog-item a {
	position:relative;
	z-index:9;
}
.items_wrapper.owl-carousel .blog-item {
	margin-bottom:0px;
	padding-bottom:20px;
}
.items_wrapper.owl-carousel .blog-item:before {
	content:" ";
	position:absolute;
	right:5px;
	left:5px;
	top:0px;
	bottom:0px;
	border:1px solid;
	border-color:transparent;
	transition:border-color 500ms;
}
.items_wrapper.owl-carousel .blog-item:hover:before {
	border-color: #e5e5e5;
	transition:border-color 500ms;
}
 
 
.pavcol1 .blog-item, .blog-item.c1 { width:100%; }
.pavcol2 .blog-item, .blog-item.c2 { width:50%; }
.pavcol3 .blog-item, .blog-item.c3 { width:33.33%; }
.pavcol4 .blog-item, .blog-item.c4 { width:25%; }
.pavcol5 .blog-item, .blog-item.c5 { width:20%; }
.items_wrapper.carousel .blog-item {width:100%;}

.blog-item .image {
	margin-bottom:15px;
}
.blog-item img {
	display:block;
}
.blog-item .summary { 
	display:table;
	width:100%;
}
.blog-item .summary .left { 
	display:table-cell;
	vertical-align:top;
	text-align:center;
}
.blog-item .summary .right { 
	display:table-cell;
	vertical-align:top;
	padding-left:20px;
}
.blog-item .description p:last-child { 
	margin-bottom:0;
}
.blog-item .date_added, .pav-blog .date_added { 
	padding:8px 12px;
	display:block;
	margin-bottom:10px;
	color:#ffffff;
}
.items_wrapper.category .blog-item .date_added { 
	padding:15px 18px;
}
.blog-item .date_added .day, .pav-blog .date_added .day { 
	font-size:20px;
	display:block;
	font-weight:600;
	margin-bottom:-5px;
	line-height:20px;
}
.items_wrapper.category .day, .pav-blog .date_added .day { 
	font-size:24px;
	margin-bottom:-3px;
}
.blog-item .date_added .month, .pav-blog .date_added .month { 
	font-size:11px;
	text-transform:uppercase;
}
.blog-item .comment_count { 
	font-size:13px;
}
.blog-item .comment_count i { 
	font-size:14px;
}
.blog-item h4 { 
	font-size:16px;
	margin:0 0 5px;
	display:block;
	font-weight:600;
}
.items_wrapper.category .blog-item h4 { 
	font-size:20px;
}
.blog-item .category_title { 
	display:block;
	margin-bottom:10px;
}
.blog-item .button { 
	margin:15px 0;
}
/* Latest blog posts in footer/columns */
.items_wrapper.list {
	margin:0;
	font-size:inherit;
}
.items_wrapper.list .blog-item {
	display:table;
	padding:0px;
	margin-bottom:13px;
	padding-bottom:13px;
	width:100%;
	border-bottom:1px solid #F0F0F2;
}
.items_wrapper.list .blog-item:last-child {
	margin-bottom:0px;
	padding-bottom:0px;
	border-bottom:none;
}
.items_wrapper.list .image, .items_wrapper.list .summary {
	display: table-cell;
	vertical-align:top;
	margin-bottom:0;
}
.items_wrapper.list .summary {
	width:100%;
}
.items_wrapper.list .image {
	width:60px;
	float:left;
}
.items_wrapper.list .left, .items_wrapper.list .description {
	display:none;
}
.items_wrapper.list .right {
	padding-left:15px;
}
.items_wrapper.list h4 {
	font-size:13px;
	font-weight:400;
}
/* Blog Page */
.pav-blog {
	padding-top:10px;
}
.pav-blog .image {
	margin-bottom:15px;
}
.pav-blog h1 { 
	font-size:20px;
	text-transform:none;
	margin:0px !important;
	padding:0;
	display:block;
	font-weight:600;
}
.pav-blog img {
	display:block;
}
.pav-blog .summary { 
	display:table;
	width:100%;
}
.pav-blog .summary .left { 
	display:table-cell;
	vertical-align:top;
	text-align:center;
}
.pav-blog .summary .right { 
	display:table-cell;
	vertical-align:top;
	padding-left:20px;
}
.pav-blog .date_added { 
	padding:15px 20px;
	margin-bottom:17px;
}

.pav-blog .comment_count { 
	margin-top:20px;
}
.pav-blog .comment_count i { 
	font-size:14px;
}
.pav-blog .social-heading {
	color:#595959;
	border-top:1px solid #f0f0f2;
	padding:15px 0 5px;
	margin-top:16px;
	font-size:13px;
}
.pav-blog .addthis_toolbox {
	width:32px;
	margin:0 auto;
}
.pav-blog .addthis_toolbox a {
	margin-bottom:5px;
}
.blog-tags {
	padding:15px 0 20px;
	border-top: 1px solid #f0f0f2;
	color:#595959;
}

.pav-blog .blog-content, .pav-blog .blog-bottom, .pav-blog .description p { 
	line-height:normal; 
	color:#595959; 
	line-height:21px; 
}
.comment-item  img{
	padding-right:15px;
}
.box-heading.blog_related {
	margin-bottom:20px;
}
ul.related {
	padding-left:15px;
	margin:0;
}
/* Blog comments */
#content .content.form.comments {
	padding:0;
}
.comments.heading {
	text-transform:uppercase;
	font-size:24px;
	line-height:24px;
	margin:25px 0;
}
.pave-listcomments {
	margin-bottom:30px;
}
.comment-wrap {
    position: relative;
	color:#595959;
}
.comment-item {
	border-top:1px solid #f0f0f2;
	margin-bottom:20px;	
	padding-top:20px;
}
.comment-item:first-child {
	border-top:none;
	padding-top:10px;
}
.comment-wrap .comment-meta {
     padding: 2px 40px 12px 0;
}
.comment-wrap .comment-meta .comment-postedby {
	 
}
.comment-wrap .comment-meta .comment-created {
	 color:#8c8c8c;
	 font-size:13px;
}
.blog-social .social-heading{ 
	padding-left:12px; 
}
.comment-link {
    border: 1px solid #E5E5E5;
    display: block;
	color:#222222;
	width:30px;
	height:30px;
	line-height:30px;
	font-size:14px;
	text-align:center;
	position:absolute;
	top:-5px;
	right:0;
}
.comment-link:hover {
    border: 1px solid #222222;
    color:#ffffff;
	background:#222222;
}


 
#comment-form .message{ background:#FCF8E3; padding: 12px;}
#comment-form .comment-warning{ color:#B94A48  } 

   	#comment-form .input-group{	clear:both;}


		#comment-form  .recaptcha img{padding-bottom:10px; }
   /**
    * Module
	*/
	.pavblogs-comments-box  .pav-comment { padding:0 0 13px 0; margin-bottom:13px; border-bottom:1px solid #F0F0F2;  }
	.pavblogs-comments-box  .pav-comment:last-child{ border-bottom:none; }
	.pavblogs-comments-box img{ padding-right:15px; }


@media only screen and (max-width: 767px) {
.pavcol4 .blog-item, .blog-item.c4 { width:50%; }
.pavcol4 .blog-item, .blog-item.c4, .pavcol5 .blog-item, .blog-item.c5 { width:33.33%; }
}
@media only screen and (max-width: 567px) {
.blog-item { width:100% !important; }
}