#content {
	margin-bottom:30px;
}
#payment-address .checkout-heading:before {
	content:"1";
}
#shipping-address .checkout-heading:before {
	content: normal;
}
#shipping-method .checkout-heading:before {
	content:"2";
}
#payment-method .checkout-heading:before {
	content:"3";
}
#cart1 .checkout-heading:before {
	content:"4";
}
#login input[type='text'], #login input[type='password'], .checkout-column input[type='text'], .checkout-column input[type='password'], .checkout-column select, .checkout-column textarea {
	width:100%;
}
table.radio {
    margin-bottom: 0px;
}
table.radio td {
	vertical-align:middle;
	padding:0px;
}
table.radio td label {
	display: inline;
}
table.radio tr.highlight td {
	padding:10px 0 10px;
}
.html_header {
	display:block;
	margin-bottom:15px;
}

#login-box {
	display:none;
	margin-bottom:15px;
}
.grid_holder {
	font-size:0;
}
.checkout-column {
	display:inline-block;
	margin:0px 0px 30px 0px;
	padding:0 15px;
	vertical-align:top;
	font-size:14px;
}
.quickcheckout-content {
	padding: 0;
	text-align:left;
	margin-bottom: 10px;
}
.field_holder {
	margin-left:-15px;
	margin-right:-15px;
	font-size:0;
}
.field {
	color:#555555;
	margin-bottom:10px;
	padding:0 15px;
	font-size:14px;
	width:50%;
	display:inline-block;
	vertical-align:top;
}
.contrast_font.input_heading {
	color:#555555;
}
.field input, .field select {
	margin-top:2px;
}
#shipping-method {
	margin-bottom:25px;
}
#shipping-method table.radio tr.highlight td {
    border-bottom: none;
}
.hide {
	display: none !important;
}


table.quickcheckout-cart {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #F0F0F2;
	border-left: 1px solid #F0F0F2;
	border-right: 1px solid #F0F0F2;
}

.quickcheckout-cart thead td {
	background-color: #F9F9FA;
	border-bottom: 1px solid #F0F0F2;
	color: #595959;
	font-weight: bold;
	text-align: left;
	padding: 15px;
}
.quickcheckout-cart tbody td {
	border-bottom: 1px solid #F0F0F2;
	vertical-align: top;
	padding: 15px;
}
.quickcheckout-cart td.image {
	width: 10%;
}
.quickcheckout-cart td.image img {
	border: 1px solid #F0F0F2;
}
.quickcheckout-cart td.name {
	width: 30%;
	text-align: left;
}
.quickcheckout-cart td.quantity {
	width: 25%;
	text-align: left;
}
.quickcheckout-cart td.quantity input {
	margin-right:3px;
}
.quickcheckout-cart td.quantity > a {
	position: relative;
	cursor: pointer;
}
.quickcheckout-cart td.unit-price {
	text-align: right;
	width: 17.5%;
}
.quickcheckout-cart td.total {
	width: 17.5%;
	text-align: right;
	padding-right: 10px;
}
.quickcheckout-cart tr.totals td {
	padding:10px 15px;
}
.quickcheckout-cart tr.totals:last-child td {
	font-weight:bold;
}
#voucher-heading, #coupon-heading, #reward-heading {
	background-color: #F9F9FA;
	border: 1px solid #F0F0F2;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	margin-bottom: 5px;
}

#voucher-content {
	display: none;
	margin-bottom:5px;
}
#coupon-content {
	display: none;
	margin-bottom:15px;
}
#reward-content {
	display: none;
	margin-bottom:15px;
}
#voucher-content input[type='text'], #coupon-content input[type='text'], #reward-content input[type='text'] {
	width:160px;
}
.checkout-content {
	display: block !important;
}
#terms .quickcheckout-content {
	border:1px solid #F0F0F2;
	padding:15px;
	text-align:right;
}
.confirm {
	display:inline-block;
}

a.colorbox b, #shipping-method table.radio td b {
	font-weight:500;
}
table.radio tr.highlight td:nth-child(3) label {
	font-weight:normal;
	color:inherit;
}
.checkout-product thead td, .checkout-product tbody td, .checkout-product tfoot td {
	border-bottom:1px solid #F0F0F2;
}