@media only screen and (max-width: 1025px) {
.checkout-column, .checkout-column.cart {
	width:100%;
}
.quickcheckout-cart td.image img {
	width: 30px;
	height: auto;
}
#shipping-method {
	margin-bottom:25px;
}
}
@media only screen and (max-width: 777px) {
.field, #login .field {
	width:100%;
}
#terms .quickcheckout-content .confirm {
	width:100%;
	text-align:right;
	border-top:1px solid #F0F0F2;
	margin-top:14px;
	padding-top:10px;
}
#terms .quickcheckout-content {
	padding:15px 10px;
	text-align:left;
}
#terms .quickcheckout-content input[type='checkbox'] {
	float:left;
	margin-right:5px;
}
}